.span12#contenedor-facturas
	.span6#div-tabla-articulos
		%table.table.table-striped#articulos
			%thead
				%tr
					%th Código
					%th Nombre
					%th Cantidad
					%th Acción
			%tbody
				- @articulos.each do |articulo|
					%tr
						%td
							= articulo.codigo
						%td
							= articulo.nombre
						%td
							= articulo.cantidad
						%td
							= link_to_function '<i class="icon-plus"></i> Agregar'.html_safe, "agregar_articulo_a_factura('#{articulo.id}')", remote: true
	.span6#factura_cantidad_field
		%table.table.table-striped#facturas
			%thead
				%tr
					%th Código
					%th Nombre
					%th Cantidad
					%th Acción
			%tbody.agregar

:javascript
	
	function agregar_articulo_a_factura(id) {
		if ($("#documento_preview").length) { $("#documento_preview").remove() } 
		$.get("/agregar/"+id) 
	}

	(function() {
		jQuery(function() {
			return $('#articulos').dataTable({
				"oLanguage": {
	        "sProcessing": "Procesando...",
	        "sLengthMenu": "Mostrar _MENU_ registros",
	        "sZeroRecords": "No se encontraron resultados",
	        "sEmptyTable": "Ningún dato disponible en esta tabla",
	        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
	        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
	        "sInfoPostFix": "",
	        "sSearch": "Buscar:",
	        "sUrl": "",
	        "sInfoThousands": ",",
	        "sLoadingRecords": "Cargando...",
	        "oPaginate": {
	          "sFirst": "Primero",
	          "sLast": "Último",
	          "sNext": "Siguiente",
	          "sPrevious": "Anterior"
	        },
	        "oAria": {
	          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
	          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	        }
	      },
	      "sDom": "<'row-fluid'<'span6'f>r>t<'row-fluid'<'span12'p>>",
	      "sPaginationType": "bootstrap"
	    });
	  });
	}).call(this);