= form_for(@pedido) do |f|
	- if @pedido.errors.any?
		.alert.alert-error#error_explanation
			=link_to_function "x", "alert('close')" , class: "close", data_dismiss: "alert" 
			%h2 
				No se ha podido guardar el producto, verifique los siguientes errores.
			%ul
			- @pedido.errors.full_messages.each do |msg|
				%li= msg

= form_for(@pedido) do |f|
	.row.row-invinyx 
		.span12
			.span4
				%br
				= f.label :cedula

				= f.text_field :empleado_id, class: "formPedido", id: "cedulaEmpleado", readonly: "readonly", type:"", tittle: "Cédula"			
				%br
			.span4
				%br
				= f.label :cargo

				= text_field_tag "Cargo","", class: "formPedido", id: "cargoEmpleado", readonly: "readonly", type:""
			.span3
				%br
				= f.label :nombre

				= text_field_tag "Nombre","", class: "formPedido", id: "nombreEmpleado", readonly: "readonly", type:""
				%br
		.span12
			.span4
				%br
				= f.label :telefono

				= text_field_tag "Telefono","", class: "formPedido", id: "telefonoEmpleado", readonly: "readonly", type:""
				
			.span4
				%br
				= f.label :apellido

				= text_field_tag "Apellido","", class: "formPedido", id: "apellidoEmpleado", readonly: "readonly", type:""	
				%br
			.span3
				%br
				= f.label :obra

				= text_field_tag "Obra","", class: "formPedido", id: "obraEmpleado", readonly: "readonly", type:""

			
	%br 
	%br
	%br			

	.modal-footer
		%center
			%h4
				Lista de Articulos
	%br
	%br
	.row.row-invinyx
		.span6
			%table.table.table-bordered.tablaEstandar
				%thead
					%tr
						%th Codigo
						%th Nombre
						%th Cantidad
						%th Acciones
				%tbody
					- @articulos.each do |articulo|
						- if articulo.cantidad > 0
							%tr
								%td
									=articulo.codigo
								%td 
									=articulo.nombre
								- if articulo.advertencia_stock == 1
									%th{:style=>"background: #82FA58;"}
										=articulo.cantidad
										=articulo.unidad_de_medida
								- elsif articulo.advertencia_stock == 2
									%th{:style=>"background: #FA5858;"}
										=articulo.cantidad
										=articulo.unidad_de_medida
								- else
									%th{:style=>"background: #F4FA58;"}
										=articulo.cantidad
										=articulo.unidad_de_medida
								%td
									=link_to_function '<i class="icon-plus"></i>'.html_safe, "agregar('#{articulo.id}', '/agregar/articulo/')", class: "btn btn-success", remote: true
		.span6
			%table.table.table-bordered#articulosAgregado
				%thead
					%tr
						%th#id-pedido
						%th Codigo
						%th Nombre
						%th Cantidad
						%th Acciones
				%tbody.agregar
					%tr#anuncio
						%th{ :colspan=>"4" }
							%center
								No hay articulos en la lista
	%br
	%br
	.modal-footer	
		= f.submit class: "btn btn-primary"
		=link_to"Volver", pedidos_path, class: "btn"

:javascript
	function alert(accion) {
		$(".alert").alert(accion)
	}