.modal-footer
	=link_to('<i class="icon-chevron-left"></i> Atrás '.html_safe, pedidos_path, html_options = {:class=>"btn", :id=>"volver", :title=>"Volver Atras"})	
.NotaEntrega
	.modal-footer	
		%h2
			%p		
				%center
					Pedido #
					=@pedido.id
	%h4
		%center
			Datos del Personal
	%hr
	.row#DatosPersonales
		.span4
			.span12
				%ul
					%li
						%b
							Cedula:
						= @pedido.empleado.cedula
					%li
						%b
							Empleado:
						= "#{@pedido.empleado.nombre} #{@pedido.empleado.apellido}"
		.span4
			.span12
				%ul
					%li
						%b
							Cargo:
						= @pedido.empleado.cargo
					%li
						%b
							Obra:
						= @pedido.empleado.obra.nombre
		.span4
			.span12
				%ul
					%li
						%b
							Estado:
						= @pedido.estado
					%li
						%b
							Fecha:
						=@pedido.created_at.strftime("%d %b. %Y")
	%hr
	%h4
		%center
			Listado de Articulos
	%hr
		%table.table.table-striped
			%thead#cabezera
				%tr
					%th Codigo
					%th Nombre de Articulo
					%th Cantidad
					%th Unidad de Medida
			%tbody
				- @pedido.articulos.each do |articulo|
					%tr
						%th
							=articulo.codigo
						%th
							=articulo.nombre
						%th
							= @pedido.cantidad_del_articulo_pedido(articulo.id)
						%th
							=articulo.unidad_de_medida

	%br
	.row
		%center
			.span6
				.firma
					=@pedido.empleado.nombre
					=@pedido.empleado.apellido
					%br
					%b
						=@pedido.empleado.cargo
				
			.span6
				.firma
					= "#{current_user.nombre} #{current_user.apellido}"
					%br
					%b
						Operador del Sistema
				
.modal-footer	
	