- content_for :title, @pedido ? "Pedido ##{@pedido.id}" : "Pedidos"
.NotaEntrega
	.hero-unit	
		%h2		
			%center
				=	"Pedido ##{@pedido.id}"
	.well
		%p
			=link_to "<i class='icon-file'> Nota de Entrega</i>".html_safe, pedido_path(@pedido, :format=>'pdf'), class: 'btn', :'data-skip-pjax' => true, :target => '_blank'
	%hr
	.page-header
		%h4
			%center
				Datos del Personal
	%br
	.row#DatosPersonales
		.span4
			%ul
				%li
					%b
						Cedula:
					= @pedido.empleado.cedula
				%li
					%b
						Empleado:
					= "#{@pedido.empleado.nombre} #{@pedido.empleado.apellido}"
		.span4
			%ul
				%li
					%b
						Cargo:
					= @pedido.empleado.cargo
				%li
					%b
						Obra:
					= @pedido.obra.nombre
		.span4
			%ul
				%li
					%b
						Estado:
					= @pedido.estado
				%li
					%b
						Fecha:
					=@pedido.created_at.strftime("%d %b. %Y")
	%hr
	.page-header
		%h4
			%center
				Listado de Artículos
		%hr
			.row#TablaShow
				%table.table.table-bordered
					%thead
						%tr
							%th Codigo
							%th Nombre de Articulo
							%th Cantidad
							%th Cantidad Devuelta
							%th Unidad de Medida
							%th Estado

					%tbody
						- @pedido.articulos.each do |articulo|
							%tr
								%th
									=articulo.codigo
								%th
									=articulo.nombre
								%th
									= @pedido.cantidad_del_articulo_pedido(articulo.id)
								%th
									= @pedido.cantidad_devuelta_del_articulo_pedido(articulo.id)
								%th
									=articulo.unidad_de_medida
								- if @pedido.estado_del_articulo_pedido(articulo.id) == "Activo"
									%th{:style=>"background: #82FA58;"}
										= @pedido.estado_del_articulo_pedido(articulo.id)
								- else
									%th{:style=>"background: #FA5858;"}
										= @pedido.estado_del_articulo_pedido(articulo.id)

	%br
.modal-footer	
	
