%tr
	%td
		= label_tag articulo.nombre
	%td
		= text_field_tag "factura[factura_has_articulos_attributes][#{articulo.codigo}][articulo_id]", "#{articulo.codigo}", id: "imput_codigo", readonly: "readonly"
	%td
		= text_field_tag "factura[factura_has_articulos_attributes][#{articulo.codigo}][cantidad]", 0, id: "input_cantidad"
	%td
		= link_to_function '<i class="icon-plus"></i> Remover'.html_safe, "#"