%td
	= label_tag articulo.nombre
%td
	= text_field_tag "factura[factura_has_articulos_attributes][#{articulo.codigo}][articulo_id]", "#{articulo.codigo}", id: "imput_codigo", readonly: "readonly"
%td
	= text_field_tag "factura[factura_has_articulos_attributes][#{articulo.codigo}][cantidad]", 0, id: "input_cantidad"
%td
	= link_to_function '<i class="icon-remove"></i>'.html_safe, "remover_articulo(#{articulo.codigo})", class: "btn btn-danger",remote: true

:javascript
	
	function remover_articulo(id) {
		$('#'+id).remove()
		if($('#facturas >tbody >tr').length==0) {
			$('#facturas').append("<tr id = 'anuncio'><td colspan = 4><center>Ingresar artículos al listado</center></td></tr>")
		}
	}