<!DOCTYPE html>
<html>
<head>
  <title>Invinyx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "boostrap", :media => "all" %>
  <%= stylesheet_link_tag    "boostrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"></a>
    <ul class="nav">
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</div>
<header>
  <section class='caja1'>       
    <div class='tituloApp'>  
      <h1>INVINYX</h1>
      <p>Sistema de Control de Inventarios.</p>
    </div>        
    <div class='logoInyx'><%= image_tag 'inyxlogo.png'%></div>
</header>
<div class='content'> 
  </section>
  <section class='caja2'>
    <%= yield %>
  </section>
  <footer><center>Performed by Inyxtech | All Right Reserve 2013</center></footer>
</div>
</body>
</html>