%html
	%head
		%title Invinyx
		= stylesheet_link_tag  "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body 
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container-fluid
					%a.brand
						Inyxtech
					%ul.nav.pull-right
						-if current_user.admin?
							%li
								= link_to "Administración", rails_admin_path
						%li
							= link_to current_user.email, user_session_path
						%li
							= link_to '<span class="label label-important">Salir</span>'.html_safe, destroy_user_session_path, method: :delete
						- if current_user.respond_to?(:email) && current_user.email.present?
							%li= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=30", :style => 'padding-top:5px'

		%header
			%section.caja1
				.tituloApp
					%h1 Inyxtech
					%p Sistema de Control de Inventarios.
				.logoInyx= image_tag 'inyxlogo.png'
		.content
			%section.caja2
				= yield
			%footer.footer
				%center Performed by Inyxtech | All Right Reserve 2013
