%ul.nav.nav-tabs
	%li.active
		= link_to '<i class="icon-th-list"> Articulos</i>'.html_safe, articulos_path
	%li
		= link_to '<i class="icon-shopping-cart"> Pedidos</i>'.html_safe, pedidos_path
	%li
		= link_to '<i class="icon-random"> Devoluciones</i>'.html_safe, devolucions_path
	
%table.table.table-striped.articulos
	%thead
		%tr
			%th imagen
			%th Codigo
			%th Nombre
			%th Cantidad
			%th Ubicación
			%th Acciones
	%tbody
		- @articulos.each do |articulo|
			%tr
				%td 
					=image_tag "/#{articulo.foto.store_dir}/thumb_#{articulo.foto_identifier}"
				%td 
					=articulo.codigo
				%td 
					=articulo.nombre
				- if articulo.advertencia_stock == 1
					%th{:style=>"background: #82FA58;"}
						=articulo.cantidad
						=articulo.unidad_de_medida
				- elsif articulo.advertencia_stock == 2
					%th{:style=>"background: #FA5858;"}
						=articulo.cantidad
						=articulo.unidad_de_medida
				- else
					%th{:style=>"background: #F4FA58;"}
						=articulo.cantidad
						=articulo.unidad_de_medida
				%td 
					=articulo.ubicacion.nombre
				%td
					=link_to '<i class="icon-info-sign"></i>'.html_safe, articulo, class: "btn", title: "Ver Detalles"

:javascript
	(function() {
		jQuery(function() {
			return $('.articulos').dataTable({
				"oLanguage": {
					"sProcessing": "Procesando...",
					"sLengthMenu": "Mostrar _MENU_ registros",
					"sZeroRecords": "No se encontraron resultados",
					"sEmptyTable": "Ningún dato disponible en esta tabla",
					"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
					"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix": "",
					"sSearch": "Buscar:",
					"sUrl": "",
					"sInfoThousands": ",",
					"sLoadingRecords": "Cargando...",
					"oPaginate": {
						"sFirst": "Primero",
						"sLast": "Último",
						"sNext": "Siguiente",
						"sPrevious": "Anterior"
					},
					"oAria": {
						"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
						"sSortDescending": ": Activar para ordenar la columna de manera descendente"
					}
				},
				"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
				"sPaginationType": "bootstrap"
			});
		});
	}).call(this);